root = true

# All files
[*]
indent_style = space

# Xml files
[*.xml]
indent_size = 2

insert_final_newline = true

trim_trailing_whitespace = true

charset = utf-8

end_of_line = lf

[*.{cs}]
dotnet_diagnostic.1591.severity = none
